@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Red Hat Display", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #4e4646;
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122, 153, 217)),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148))
  );
}

.no-scrollbar {
  scrollbar-width: none;
}

@font-face {
  font-family: "Oswald";
  src: local("Oswald"),
    url("/fonts/Oswald/Oswald-VariableFont_wght.ttf") format("opentype");
  font-display: swap;
  /* font-weight: normal; */
}

@font-face {
  font-family: "Red Hat Display";
  src: local("Red Hat Display"),
    url("/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf")
      format("opentype");
  font-display: swap;
  /* font-weight: normal; */
}

html,
body,
#root {
  /* height: 100vh;
  width: 100vw; */
  overflow-x: hidden;
  background-color: #161616;
}

.gradientBg {
  background: rgb(22, 22, 22);
  background: linear-gradient(
    180deg,
    rgba(22, 22, 22, 1) 0%,
    rgba(22, 24, 39, 1) 5%,
    rgba(23, 25, 48, 1) 10%,
    rgba(24, 28, 67, 1) 18%,
    rgba(23, 29, 79, 1) 25%,
    rgba(23, 29, 79, 1) 25%,
    rgba(25, 32, 96, 1) 39%,
    rgba(25, 34, 111, 1) 50%,
    rgba(25, 32, 96, 1) 61%,
    rgba(24, 28, 67, 1) 82%,
    rgba(23, 25, 48, 1) 90%,
    rgba(22, 24, 39, 1) 95%,
    rgba(22, 22, 22, 1) 100%
  );
}

.gradientBgRed {
  background: rgb(22, 22, 22);
  background: linear-gradient(
    180deg,
    rgba(22, 22, 22, 1) 0%,
    rgb(39, 22, 22) 5%,
    rgb(48, 23, 23) 10%,
    rgb(67, 24, 24),
    rgb(79, 23, 23) 25%,
    rgb(79, 23, 23) 25%,
    rgb(96, 25, 25),
    rgb(111, 25, 25) 50%,
    rgb(96, 25, 25) 61%,
    rgb(67, 24, 24) 82%,
    rgb(48, 23, 23) 90%,
    rgb(39, 22, 22) 95%,
    rgba(22, 22, 22, 1) 100%
  );
}

.animatedReveal {
  /* position: relative; */
  animation: reveal 1s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: translate(0, 70%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.gradientBackground {
  background: rgb(22, 22, 22);
  background: linear-gradient(
    180deg,
    rgba(22, 22, 22, 1) 0%,
    rgba(22, 26, 52, 1) 18%,
    rgba(15, 17, 104, 1) 31%,
    rgba(18, 29, 119, 1) 50%,
    rgba(15, 17, 104, 1) 69%,
    rgba(22, 26, 52, 1) 82%,
    rgba(22, 22, 22, 1) 100%
  );
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

/* general styles */

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}

@layer components {
  .squeezyBtn {
    transform: scale(0.9, 0.88);
  }

  .glassMorphism {
    background: linear-gradient(
      145deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
  }

  .oswald {
    font-family: "Oswald", sans-serif;
  }
}
/* 
@keyframes squeezyAnimation {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(0.95, 0.95);
  }

  100% {
    transform: scale(0.93, 0.93);
  }
} */

/* inifnity slider 2 */

@-webkit-keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.infinitySlider {
  /* background: white; */
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.infinitySlider::before,
.infinitySlider::after {
  /* background: linear-gradient(to right, rgba(255, 255, 255, 0.534) 0%, rgba(255, 255, 255, 0) 100%); */
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.infinitySlider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.infinitySlider::before {
  left: 0;
  top: 0;
}
.infinitySlider .slide-track-left {
  -webkit-animation: scrollLeft 40s linear infinite;
  animation: scrollLeft 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

@-webkit-keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(250px * 7));
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(calc(-250px * 7));
  }
  100% {
    transform: translateX(0);
  }
}

.infinitySlider .slide-track-right {
  -webkit-animation: scrollRight 40s linear infinite;
  animation: scrollRight 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  transform: translateX(calc(-250px * 7));
}

.infinitySlider .slide-left {
  height: 200px;
  width: 250px;
}

.infinitySlider .slide-right {
  height: 200px;
  width: 250px;
  order: -1;
}

/* infinity text slider */

@-webkit-keyframes textScrollRight {
  0% {
    transform: translateX(calc(-500px * 7));
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes textScrollRight {
  0% {
    transform: translateX(calc(-500px * 7));
  }
  100% {
    transform: translateX(0);
  }
}

.infinityTextSlider {
  /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125); */
  background: linear-gradient(90deg, #133eca 0%, #032286 100%);
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.infinityTextSlider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.infinityTextSlider::before {
  left: 0;
  top: 0;
}
.infinityTextSlider .text-slide-track-right {
  -webkit-animation: textScrollRight 40s linear infinite;
  animation: textScrollRight 40s linear infinite;
  display: flex;
  width: calc(500px * 14);
}

.infinityTextSlider .text-slide-right {
  height: 100px;
  width: 500px;
}
